body {
    font-family:cursive;
    margin: 0;
    padding: 0;
    background-image:url(no/bt7.jpg) ;
    color: #3f204e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
   background-image: linear-gradient(45deg, #ae5cb4, #ad548f,#7ea9bc);
   
    color: #490056;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    flex: 1;
    padding: 2rem 1rem;
}
#imagen{
    border:10px solid #8259a1;
    border-radius: 8%;
               /* desplazamiento 5s linear infinite; */
    width: 200px;
    height: 200px;
    float: right;
    top: auto;
}
    

.album-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


.album {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding-bottom: 1rem;
    scroll-behavior: smooth;
}

.album::-webkit-scrollbar {
    display: none;
}

.foto {
    background-color: #a988ca;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-width: 200px;
    cursor: pointer;
}

.foto img {
    width: 100%;
    height: auto;
    display: flex;
}

.foto {
    padding: 0.75rem;
    text-align: center;
    margin: 0;
    font-size: 0.9rem;
}

.foto:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(208, 188, 188, 0.2);
}

footer {
    background-image: linear-gradient(45deg, #c05d8f, #9a54ad,#7ea9bc);
    color: #333;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}