body {
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(carrera/tecno.jpeg);
    background-size: cover;
}

.header {
    background-image: linear-gradient(45deg, #323989d5, #180a3ce8,#32468f);
    color: white;
    padding: 10px 20px;
}

.header .deposito {
    display: flex;
    justify-content:center;
    align-items: center;
}

.header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.logo img {
   
    height: 50px;
    margin-right: 20px;
    position:right (-30%);
}

.chart {
    background: rgba(29, 7, 118, 0.552);
    color: rgb(154, 205, 180);
    padding: 30px;
    border-radius: 35px;
    width: 35%;
    min-width: 200px;
}

.chart h2{
    margin-top: 0;
}

.chart h3 {
    margin-top: 0;
}

.chart ul {
    padding-left: 20px;
}

.redes {
    position: absolute;
    top: 30%;
    left: 40px;
    transform: translateY(-30%);
    display: flex;
    flex-direction: column;
}

.redes a {
    text-align: center;
    margin: 2px 0;
    color: #06650e;
    font-size: 30px;
    border-radius: 55%;
    text-decoration: none
}

.main-recipiente {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

footer {
    background-image: linear-gradient(45deg, #7078c9d5, #3f1c98e8,#7ea9bc);
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}