* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    background-image:#ffa1a1;
    color:black;
    justify-content: center;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header {

    
    
    margin:auto;
    background-color: #9054ff;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: rgb(251, 170, 170);
    padding: 30px;

    margin: 15px;
}

 nav{
    float: left;
    width: 30%;
    height: 300px;
    padding: 20px;
    background-color: rgb(198, 148, 232);

 }

 #titulo{
    background-color:rgb(155, 23, 155);
    padding: 45px;
    text-align: center;
    font-size: 60px;
    color:rgb(247, 160, 196)
}
#imagen{
    border:10px solid #0a0909;
    border-radius: 20%;
    animation: giro 5s linear infinite;
    width: 200px;
    height: 200px;
    float: right;
    top: auto;
}
@keyframes giro {
    0%{
        transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    


 h1 {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: #0a0909;
     text-align: center;
    }
    h2{
        font-family:sans-serif;
        text-align: center;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    
    article{
        float: left;
        padding: 20px;
        width: 70%;
        background-color: rgb(255, 182, 182);
        height: 300px;
        background-image:linear-gradient(45deg, rgb(178, 134, 203),#9054ff );
        
    }
    p{
        text-align: center;
        color: #333;
        line-height: 1.5;
    }
    /* Clear floats after the columns */
    section::after {
        content: "";
        display: table;
        clear: both;
    }
    
    table{
        width: 30% auto;
        margin: 20px auto;
        border-collapse: collapse;
        border:1px solid #333;
        text-align: center;
        padding: 6px;
        
    }
    tr,td{
        background-color: rgb(218, 140, 222);
        border-collapse: collapse;
        border:1px solid#333;
        text-align: center;
        padding: 6px;
    }
    th{
        background-color: rgb(153, 202, 246);
        color: black;
        font-weight: bold;
        border-collapse:collapse ;
        border:0px solid #333;
        padding: 4px;
    }
    footer {
        background-image:linear-gradient(45deg, rgb(138, 92, 191),#e26597 );
        padding: 10px;
        font-size: 10px;
        line-height: 4;
        width: 100%;
        text-align: center;
        color: rgb(0, 0, 0);
        margin:15px;
    }